{#{% extends '@SonataAdmin/CRUD/base_collapsed_field.html.twig' %}#}
{#{% extends get_admin_template('base_list_field', admin.code) %}#}


{#{% set body = block('body') | striptags | trim %}#}
{#{% set hasBody = (body | length) > 0 %}#}

{#{% block field %}#}
{#    <div class="planb_row">#}
{#        <div class="caret-col">#}
{#            {% if hasBody %}#}
{#                {{ block('caret') }}#}
{#            {% endif %}#}
{#        </div>#}

{#        <div class="resume">#}
{#            <div class="header">#}
{#                {{ block('header') }}#}
{#            </div>#}

{#        {% if hasBody %}#}
{#            <div id="collapse-{{ object.id }}" class="body collapse row">#}
{#                {{ block('body') }}#}
{#            </div>#}
{#        {% endif %}#}

{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

<td>
    adsadasdadad
</td>
