{% block pending %}
    <span class="label label-warning label-round"></span>
{% endblock %}

{% block active %}
    <span class="label label-success label-round"></span>

{% endblock %}

{% block finalized %}
    <span class="label label-danger label-round"></span>
{% endblock %}
