{% extends 'base_pdf.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ public_dir }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ public_dir }}/css/bootstrap.min.css">
    <link href="{{ public_dir }}/css/tangerine.css" rel="stylesheet">

{% endblock %}


{% block style %}
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: 'Tangerine', cursive;
            font-size: 3em;
        }

        table.certificate {
            width: 1400px;
            height: 997.033px;
            margin: 0 auto;
            outline: solid 3px red;
        }

        .certificate td {
            text-align: center;
            vertical-align: bottom;
            outline: solid 1px darkgreen;
            padding: 0;
            position: relative;
        }

        .certificate td span {
            /*bottom: -10px;*/
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .certificate tr.student {
            height: 440px;
        }

        .certificate tr.course {
            height: 118px;
        }

        .certificate tr.dates {
            height: 108px;
        }

        .certificate tr.dates td.length {
            width: 542px;
        }

        .certificate tr.dates td.length span {
            padding-left: 250px;
        }

        .certificate tr.dates td.from {
            width: 311px;
        }

        .certificate tr.dates td.from span {
            padding-left: 94px;
        }

        .certificate tr.dates td.to {
            width: 401px;
        }

        .certificate tr.dates td.to span {
            padding-left: 85px;
        }

        .certificate tr.final_mark {
            height: 71px;
        }

        .certificate tr.final_mark td {
            text-align: left;
        }

        .certificate tr.final_mark td span {
            margin-left: 354px;
            width: 283px;
            text-align: center;
        }

        .certificate tr.signed_at {
            height: 118px;
        }
        .certificate tr.signed_at td {
            text-align: left;
        }

        .certificate tr.signed_at td span{
            text-align: left;
            padding-left: 60px;
        }

    </style>

{% endblock %}

{% block body %}

    <h1 style="color: tomato">
        Intentar hacerlo con pdftk
        (https://packagist.org/packages/mikehaertl/php-pdftk)
    </h1>

    <table class="certificate">
        <tbody>
        <tr class="student">
            <td colspan="3">
                <span>Nombre y Apellidos</span>
            </td>
        </tr>
        <tr class="course">
            <td colspan="3">
                <span>Curso</span>
            </td>
        </tr>
        <tr class="dates">
            <td class="length">
                <span>2 Months</span>
            </td>
            <td class="from">
                <span>July 2019</span>
            </td>
            <td class="to">
                <span>August 2019</span>
            </td>
        </tr>
        <tr class="final_mark">
            <td colspan="3">
                <span>7.9</span>
            </td>
        </tr>
        <tr class="signed_at">
            <td colspan="3">
                <span>August 2019</span>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}


{% block certificate %}
    <div class="certificate">

        <div class="student">
            <span>estudiante</span>
        </div>

        <div class="course"></div>
        <div class="dates"></div>
        <div class="mark"></div>
    </div>
{% endblock %}
