{% extends 'base_pdf.html.twig' %}

{% block stylesheets %}
    {#    <link rel="stylesheet" href="{{ public_dir }}/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="{{ public_dir }}/css/bootstrap.min.css">
{% endblock %}

{% block style %}
    <style>
        .clause {
            height: 6em;
        }
        .clause .text {
            font-size: 0.4em;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="clause">
        <div class="text">
            {{ setting.cashPaymentsClause | raw }}
        </div>
    </div>
{% endblock %}
