
<li>
    <div class="btn-group">
        <a class="btn btn-success " href="{{ admin.generateUrl('download_sepa') }}">
            <i class="fa fa-download"></i> {{ 'SEPA'|trans({}, 'SonataAdminBundle') }}
        </a>
    </div>
</li>
