{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object.mode.isCash %}
        <span class="label label-primary label-big">
            <i class="fa fa-euro"></i>
        </span>
    {% elseif object.mode.isDayFirst %}
        <span class="label label-primary label-big">
            <i class="fa fa-calendar"></i> / 1
        </span>
    {% else %}
        <span class="label label-primary label-big">
            <i class="fa fa-calendar"></i> / 10
        </span>
    {% endif %}
{% endblock %}


