{% block locked_widget %}

    <div class="row">
        <div class="col-md-8 col-md-offset-4 locked-wrapper">
            <div class="pull-right">
                {% set alerts = {RESET: reset, UPDATE: update} %}

                {{ form_widget(form, {'attr': {'data-locked': widget, 'data-alerts': alerts | json_encode  }}) }}
            </div>
        </div>
    </div>
{% endblock %}
