{% extends 'admin/core/resume_column_base.html.twig' %}

{% block header %}
    {% set adminStudent = admin.configurationPool.adminByAdminCode('admin.student') %}

    <a href="{{ adminStudent.generateUrl('edit', {id:object.student.id}) }}">
        <strong>{{ object.student.fullName }}</strong>
    </a>
{% endblock %}


