{% extends get_admin_template('base_list_field', admin.code) %}

{% block header %}
    {% set adminStudent = admin.configurationPool.adminByAdminCode('admin.student') %}

    <a href="{{ adminStudent.generateUrl('edit', {id:object.student.id}) }}">
        <strong>{{ object.student.fullName }}</strong>
    </a>
{% endblock %}


