.contact {
    margin-bottom: 0.8em;
}

.contact .contact-name {

}

.contact .contact-info {

}

.contact .contact-info span {
    display: inline-block;
    margin-right: 1em;
    padding-left: 0.5em;
}

.alert-msg {
    color: #d44000;
    font-size: 1.8em;
    cursor: pointer;
}

.thumb {
    text-align: center;
}

.thumb-upload {
    cursor: pointer;
}

.thumb-upload img {
    width: 200px;
    height: 266px;

    border-radius: 5%;
    border: solid 1px silver;
    padding: 1em;
    box-sizing: content-box;
    margin-bottom: 0.8em;
}


.course_has_students {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 520px;
    padding: 0;
    margin: 0;

    .course_has_students__selector {
        padding: 1em 0 1em 1em;
        width: 28rem;
        height: 100%;
        border-right: solid 1px silver;

        input.search {
            border: solid 1px silver;
            width: 90%;
            padding: 5px;
        }

        ul {
            height: 100%;
            padding: 0;
            margin: 1em 0 0 0;
            overflow-y: auto;

            li {
                list-style: none;
                font-size: 1.1em;
                padding: 0.5em 0;
            }

            li.available {
                cursor: pointer;
            }

            li.selected {
                color: silver;
            }
        }
    }

    .course_has_students__grid {
        height: 100%;
        flex: 1;
        padding-top: 1em;
        padding-left: 5em;
        overflow-y: auto;
    }

}




