.logo img {
    display: inline;
    padding-bottom: 4px;
    max-height: 100%;
    max-width: 160px;
}

.logo span{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.skin-black .main-header .logo, .skin-black .main-header .navbar{
    background-color: #3c8dbc;
}

.skin-black .main-header .logo:hover,
.skin-black .main-header .navbar .sidebar-toggle:hover,
.skin-black .main-header .navbar .navbar-custom-menu .dropdown-toggle:hover,
.skin-black .main-header .navbar .nav > li > a:hover,
.skin-black .main-header .navbar .nav > li > a:active,
.skin-black .main-header .navbar .nav > li > a:focus,
.skin-black .main-header .navbar .nav .open > a,
.skin-black .main-header .navbar .nav .open > a:hover,
.skin-black .main-header .navbar .nav .open > a:focus,
.skin-black .main-header .navbar .nav > .active > a {
    background-color: #3782AD;
    color: gainsboro;
}

.breadcrumb > .active {
    color: #333;
}
