.cell-wrapper {
    box-sizing: content-box;
    float: left;
    height: 335px;
    width: 220px;
    text-align: center;
}

.cell {
    border-radius: 5px;
    box-sizing: content-box;
    border: solid 1px silver;
    text-align: center;
    position: relative;
    width: 190px;
    margin: auto;
}

.cell .cell-title,
.cell .cell-footer {
    display: block;
    text-align: center;
    font-size: 1.1em;
    padding: 0.5em;
    margin: 0;
}

.cell .cell-title {
    border-bottom: solid 1px silver;
}

.cell .cell-footer {
    border-top: solid 1px silver;
}

.cell .cell-image {
    width: 150px;
}

.student-cell.attended {
    border-color: #008d4c;
    cursor: pointer;
}

.student-cell.attended .cell-title,
.student-cell.attended .cell-footer {
    background-color: #008d4c;
    color: white;
}

.student-cell.no-attended {
    border-color: #d73925;
    cursor: pointer;
}

.student-cell.no-attended .cell-title,
.student-cell.no-attended .cell-footer {
    background-color: #d73925;
    color: white;
}

.student-cell .cell-alert {
    position: absolute;
    bottom: 0;
    right: 0;
    word-spacing: -5px;
}

.student-cell.attended .cell-alert {
    bottom: 37px;
}

.student-cell.no-attended .cell-alert {
    bottom: 72px;
}


.student-cell .cell-alert span {
    border-radius: 0;
    border: solid 1px silver;
    padding: 0.5em;
    background-color: white;
    box-sizing: content-box;
    opacity: 100%;
}

.student-cell .cell-alert span:first-of-type {
    border-top-left-radius: 20%;
    border-right: none;
}
