{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% set adminStaff = admin.configurationPool.adminByAdminCode('admin.staff_member') %}

    <a href="{{ adminStaff.generateUrl('edit', {id:object.author.id}) }}">
        <strong>{{ object.author.fullName }}</strong>
    </a>
{% endblock %}


