{% if object.numOfStudents > 0 %}
    {% set marks = admin.configurationPool.adminByAdminCode('admin.mark').generateObjectUrl('edit', object) %}
    <a class="btn btn-link" href="{{ marks }}">Notas</a>
{% endif %}

{% set reports = admin.configurationPool.adminByAdminCode('admin.report').generateObjectUrl('edit', object) %}
<a class="btn btn-link" href="{{ reports }}">Informes</a>
