{#<a class="dropdown-item" href="{{ admin.generateObjectUrl('report-info', object) }}">Info</a>#}

<!-- Split button -->
<div class="btn-group">
    <button type="button" class="btn btn-primary">Descargar</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{ admin.generateObjectUrl('report-info', object) }}">Información</a></li>
        <li><a href="{{ admin.generateObjectUrl('report-certificate', object) }}">Diplomas</a></li>
        <li><a href="{{ admin.generateObjectUrl('report-mark', object) }}">Boletin de notas</a></li>
    </ul>
</div>
