{% set hasMarks = false %}

{% if object.numOfStudents > 0 and object is evaluable %}
    {% set hasMarks = object.assessment.hasAnyMarks %}
{% endif %}


{% if hasMarks %}
    {% set marks = admin.configurationPool.adminByAdminCode('admin.mark').generateObjectUrl('edit', object) %}
    <a class="btn btn-link" href="{{ marks }}">Notas</a>
{% endif %}

{% if object.isOnetoOne == false %}
    {% set reports = admin.configurationPool.adminByAdminCode('admin.report').generateObjectUrl('edit', object) %}
    <a class="btn btn-link" href="{{ reports }}">Informes</a>
{% endif %}
