{% set hasMarks = false %}
{% if object.numOfStudents > 0 %}
    {% set hasMarks = object.diagnosticTest or object.finalTest or object.numOfTerms > 0 %}
{% endif %}


{% if hasMarks %}
    {% set marks = admin.configurationPool.adminByAdminCode('admin.mark').generateObjectUrl('edit', object) %}
    <a class="btn btn-link" href="{{ marks }}">Notas</a>
{% endif %}

{% set reports = admin.configurationPool.adminByAdminCode('admin.report').generateObjectUrl('edit', object) %}
<a class="btn btn-link" href="{{ reports }}">Informes</a>
