{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div class="planb_row">
        <div class="resume">
            <div class="header">
                {{ block('header') }}
            </div>
        </div>
    </div>
{% endblock %}


{% block header %}
    <a href="{{ admin.generateUrl('edit', {id:object.id}) }}"><strong>{{ object.name }}</strong></a>
{% endblock %}
