{% extends get_admin_template('base_list_field', admin.code) %}

{% block field %}
    {% if object.adult %}
        <span class="label label-primary label-square">
            {{ object.age }}
        </span>
    {% else %}
        <span class="label label-warning label-square">
            {{ object.age }}
        </span>
    {% endif %}
{% endblock %}
