{% extends 'admin/core/resume_column_base.html.twig' %}

{% block title %}
    {{ object.fullName }}
{% endblock %}


{% block body %}
    <div class="col-md-3">
        {% for phoneNumber in object.phoneNumbers %}
            <p class="phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span> {{ phoneNumber }} </span>
                {% if phoneNumber.description %}
                    <span> ({{ phoneNumber.description }})</span>
                {% endif %}
            </p>
        {% endfor %}

    </div>

    <div class="col-md-3">
        {% for email in object.emails %}
            <p class="mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> {{ email }} </span>
            </p>
        {% endfor %}

    </div>
{% endblock %}


