<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error 404</title>

    {{ encore_entry_link_tags('error-style') }}
    <!--[if lt IE 9]>
    {{ encore_entry_script_tags('error') }}
    <![endif]-->
</head>

<body>
    <div id="notfound">
        <div class="notfound">
            <div>
                <div class="notfound-404">
                    <h1>!</h1>
                </div>
                <h2>Error<br>404</h2>
            </div>
            <p>Puede que la página que estas buscando no exista, haya cambiado o esté temporalmente inaccesible. <a
                    href="{{ path('sonata_admin_dashboard') }}">Vuelve al Escritorio</a></p>
        </div>
    </div>
</body>
</html>
